h1 {
  color: #376CBF;
  font-family: 'Quicksand', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 60px;
  margin: 0 auto;
  width: 100%;
  position: left;
}
p {
  font-family: Roboto, sans-serif ;
  font-size: 20px;
  color: Pink;
  line-height: 1.7em;
  text-align: left;
  width: 100%;
  font-weight: 100;
}
