body {
  margin: 0px;
  padding: 0px;
}
h1 {
  color: #376CBF;
  font-family: 'Quicksand', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 60px;
  margin: 0 auto;
  width: 100%;
  position: left;
}
h3 {
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin: 0px 0px;
  text-align: left;
  width: 150px;
  display: inline-block;
}
h5 {
  color: #CCC;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  margin: 0px 0px;
  text-align: center;
}
p, ul {  
  font-family: Roboto, sans-serif ;
  font-size: 20px;
  color: Pink;
  line-height: 1.7em;
  text-align: left;
  width: 100%;
  font-weight: 100;
}
.links-button {
  font-family: Roboto, sans-serif ;
  font-size: 12px;
  display: inline-block;
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.7;
  width: 80px;
  color: black;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  box-shadow: 2px 2px;
}
.tile-ul {
  li.st-style: none;
  padding: 0px;
}
.tile-li {
  border-radius: 0px 6px 6px 12px;
  background-color: #333333;
  margin: 5px 5px 5px 5px;
  padding-left: 10px;
  opacity: 0.7;
}
.tile-space {
  background: linear-gradient(180deg, #E0CD97, #BCB47A);
  padding: 40px;
  margin: 0px;
}
.tile {
  display: flex;
//  justify-content: space-between;
  flex-wrap: wrap;
}
#tile-news,
#tile-golf,
#tile-fun {
  width: 270px;
  padding: 1em 2em 2em 2em;
  margin: 0.5em;
  color: whitesmoke;
  border-radius: 0px 35px 35px 70px;
  display: inline-block;
}
#tile-news {
 background: linear-gradient(135deg, #FF9900, #FFD699);
}
#tile-golf {
 background: linear-gradient(135deg, #166903, #D3FEC8);
}
#tile-fun {
 background: linear-gradient(135deg, #006666, #b3ffff);
}
#tile-clubs {
 background: linear-gradient(135deg, #d65454, #fccfcf);
}
.links {
  margin: 1em 0;
  display: none;
}
.active {
  background-color: #333333;
  color: whitesmoke;
}

a {   
  font-family: Roboto, sans-serif ;
  font-size: 20px
}

  a:link {
    color: gainsboro;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: silver;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: lightslategray;
    background-color: transparent;
    text-decoration: underline;
}
#slider {
  position: relative;
}
#slider img {
    transition: opacity 3.0s;
    position: absolute;
    top:0;
//    left:0;
    opacity:0;
}
#slider img.fadeIn {
    opacity:1;
}
#blank {
  display: block;
  margin: auto;
  width: 1500px;
  height: 250px;
  border: 2px solid #9E9E9E;
  overflow: hidden;
  background-color: white;
}
#khakiBox {
  width: 100%;
  background: linear-gradient(0deg, #E0CD97, #BCB47A);
  height: 254px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px;
}
#videoSpace{
width: 100%;
padding: 0px;
margin: 0px;
//border: 10px solid green;
}
#videoPlace {
width: 320px;
height: 180px;
 border: 2px solid white;
  margin: 0px;
  padding: 0px;
}
#bigBox {
display: inline-block;
width: 324px;
height: 324px;
background: linear-gradient(135deg, #a9a9a9, #808080);
// background-color: #a9a9a9;
 border: 2px solid black;
  margin: 15px;
  padding: 30px;
vertical-align: top;
}
    #scroller {
        position: relative;
    }
    #scroller .innerScrollArea {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #scroller ul {
        padding: 0;
        margin: 0;
        position: relative;
    }
    #scroller li {
        padding: 0 2px;
        margin: 0;
        list-style-type: none;
        position: absolute;
    }
